*
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body 
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2d4d9c;
    padding: 10px;
}

.card 
{
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee;
    min-height: 400px;
    width: 300px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.answers span
{
    display: block;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
}

.answers span:hover 
{
    color: #299148;    
}

.card .question h2 
{
    text-align: center;
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

.button 
{
    border-radius: 15px;
    border: 2px solid #333;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    flex-grow: 1;
    font-size: 14px;
}

.question, .answers 
{
    width: 100%;
}

.buttons-container 
{
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media (min-width: 800px)
{
    .buttons-container 
    {
        width: 500px;
        position: absolute;
        right: 30px;
        bottom: 30px;
    }

    .answers span
    {
        font-size: 18px;
    }

    .card .question h2 
    {
        font-size: 28px;
    }

    .button 
    {
        font-size: 16px;
    }
}